# fly.toml app configuration file generated for push-notification-service on 2025-11-12T13:39:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'push-notification-service'
primary_region = 'lhr'

[build]
  builder = 'paketobuildpacks/builder:base'

[env]
  PORT = '8080'

[processes]
  web = 'uvicorn main:app --host 0.0.0.0 --port ${PORT:-8000}'
  worker = 'celery -A app.workers.worker worker -Q push.queue -l info'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['web']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
